* {
    box-sizing: border-box;

}
html{
    background-color: #9A97AA;
}

body{
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

.homepage-main-content {
    background-color: #9A97AA;
}

.homepage-main-content-image {
    border-radius: 50%;
    display: block;
    margin: auto;
    padding: 2rem;
}

.header-title {
    font-size: 65;
    text-align: center;
    display: block;
    padding: 15% 0;
    margin: 0%;
}

.col-6 {
    padding: 15px;
}

.row {
    margin: 15px !important;
    margin-top: 0px !important;

}

.about-me-brief{
    text-align: center;
}

.navbar-links ul{
    margin: 0;
    padding: 15px;
    display: inline-flex;
    justify-content: space-between;
}

.navbar-links ul li a {
    font-size: 30px;
    text-align: center;
}

/*
LOHA
*/


