* {
    box-sizing: border-box;

}
html{
    background-color: #9A97AA;
}

body{
    margin: 0;
    padding: 0;
}

img {
    height: auto;
    width: 100%;
}

.homepage-main-content {
    background-color: #9A97AA;
}

.homepage-main-content-image {
    border-radius: 50%;
    display: block;
    margin: auto;
    padding: 2rem;
}

.header-title {
    font-size: 65;
    text-align: center;
    display: block;
    padding: 15% 0;
    margin: 0%;
}

.col-6 {
    padding: 15px;
}

.row {
    margin: 15px !important;
    margin-top: 0px !important;

}

.navbar {
    background-color: #F5F3F3;
    padding: 0rem !important;
}

.navbar-image-logo {
    border-radius: 50%;
    width: 4.5rem;
    height: 4.5rem;
}


.nav-link {
    font-size: 1.8rem;
    color: black;
}

a.nav-link:hover {
    color: #9A4754 !important;
    font-weight: 550;
}


.about-me-brief{
    text-align: center;
}

.navbar-links ul{
    margin: 0;
    padding: 15px;
    display: inline-flex;
    justify-content: space-between;
}

.navbar-links li {
    list-style: none;
    color: gray;
    border: 2px solid gray;
    border-radius: 15px;
    padding: 5px;    
}

.navbar-links ul li a {
    font-size: 30px;
    text-align: center;
}

/*
LOHA
*/


